*.o
*.lo
*.la
.deps
.libs
sfbpf/sf_grammar.c
sfbpf/sf_scanner.c
sfbpf/sf_scanner.h
sfbpf/tokdefs.h
stamp-h1

# start autotools ignore
autom4te.cache/
config/
Makefile
Makefile.in
*/Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.guess
config.sub
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
ltmain.sh
ylwrap
test-driver

*.iml
.deps.ok
.settings
.autotools
# stop autotools ignore

# OSX and some IDE
.DS_Store
.idea/
.project
.cproject
.vscode/
CMakeLists.txt
cmake-build*/
